<ul class="pull-right">
	<li><a href="/VandyLAN/source/index.html">Home</a></li>
	<li><a href="/VandyLAN/source/about.html">About</a></li>
	<li><a href="/VandyLAN/source/tournaments.html">Tournaments</a></li>
	<li><a href="/VandyLAN/source/rules.html">Rules</a></li>
	<li><a href="/VandyLAN/source/forms.html">Forms</a></li>
</ul>